{% extends "base.html" %}

  {% block title %}Edit User{% endblock %}
        
  {% block content %}
    <div class="container">
      <div class="col-4">
        <h1>Edit User</h1>
        <h5>{{ user.full_name }}</h5>
        {% for message in get_flashed_messages() %}
            <h5 class="text-danger">{{ message }}</h5>
        {% endfor %}
        <form name="edit_user_form" action="/users/{{user.id}}/edit" method="POST" class="mb-3">
          <div class="form-group">
            <label for="first_name_input">First Name</label>
            <input type="text" class="form-control" id="first_name_input" name="first_name" value="{{ user.first_name }}">
          </div>
          <div class="form-group">
            <label for="last_name_input">Last Name</label>
            <input type="text" class="form-control" id="last_name_input" name="last_name" value="{{ user.last_name }}">
          </div>
          <div class="form-group">
            <label for="image_input">Image URL</label>
            <input type="text" class="form-control" id="image_input" name="image_url" value="{{ user.image_url }}">
          </div>
            <a class="btn btn-outline-info" href="/users/{{ user.id }}" role="button">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
      <div class="col-8"></div>
    </div>
    
    {% endblock %}    
